{% extends "base.html" %}
{% load static %}

{% block title %} | About the Book {% endblock title %}


{% block content %}

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/landing-bg.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h5>About the Book...</h5>
                    <h2>Mzilikazi the Great</h2>
                    <p>The book, will be on the shelves from early 2023, has been long time coming!</p>
               
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Sermons Area Start ##### -->
  <section class="sermons-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="{% static 'img/core-img/ifefe.png' %}" alt="">
                    <h3>The Book - Mzilikazi the Great</h3>
                    <h4>Telling the story of ...</h4>
                    <p> <strong>Mzilikazi the Great </strong> is like relating the story of Southern Africa where he moved through, ruled and conquered for fourty seven years.. 
                    </p>
                    <p> Over this period Mzilikazi moved through seven of the nine of today’s South African provinces and passed through nine countries 
                        in Sub Sahara before settling in Zimbabwe as the tenth country.
                    </p>
                    <br>
                    <br>
                    <h4>Ascension to throne ... </h4>
                    <p>Born in 1790 in Ndinaneni close to the Mkuze valley he was raised 
                        in Zwide’s palace as his grandson.  
                    </p>
                    <p> However after Zwide murdered his father for tipping off 
                        Shaka against imminent danger he was elevated to the Khumalo throne. 
                        From here on he joined Shaka and then later defied him and started his 
                        illustrious history.
                    </p>
                    <br>
                    <br>
                    <h4>The book journey ...</h4>
                                <p>To enhance the story, a total of over a hundred and seventy books were referenced; libraries, museums; heritage sites, historical sites and countries were also made use of. 
                                    </p>
                                    <p> Various people supported this initiative from initial stage, 
                                        to the point where editing, typesetting and formatting was done by
                                        Madibana Printers  in collaboration with various editors.
                                    </p>
                </div>
                
                
            </div>
        </div>

    
    </div>
</section>
<!-- ##### Making of the boook in pictures  starts ##### -->
<section class="ministries-area section-padding-20-0">
    <div class="container">
       

        <div class="row">

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6">
                <div class="single-ministry mb-100">
                    <img src="{% static 'img/mzi/mzi_grave.jpeg' %}"  alt="">
                    <div class="ministry-content">
                        <h6>Mzilikazi burial site at Entumbani</h6>
                      
                        <p>
                            The resting place where Mzilikazi is buried, 
                            the area is full of rabbits and thus Ndebeles who compared Mzilikazi with a leopard, 
                            an elephant and a rabbit at times assert that where he lies he is enjoined with the rabbits. 
                            These animals are renown for their wit, 
                            speed and quick adaptability to ever changing circumstances.
                        </p>
                        
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6">
                <div class="single-ministry mb-100">
                    <img src="{% static 'img/mzi/war3.jpg' %}" alt="">
                    <div class="ministry-content">
                        <h6>One of the War Places in South Africa</h6>
                    
                        <p>Mzilikazi is one leader that is known to have fought 
                            with the Boers over land and he is also said to have fought Portuguese (when he was now in Zimbabwe) 
                            pushing them back for abducting people and making them slaves. 
                            It was only much later that Dingaan also put up a fight against the Boers. </p>
                    
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="{% static 'img/mzi/mzi_people1.jpeg' %}" alt="">
                    <div class="ministry-content">
                        <h6> Direct Descendants of Mzilikazi</h6>
 
                        <p>Molope in Bulawayo hosted by members of the Khumalo royal household. Descendants from three families of Beje, Ndonda and Matshobane.  On the right, in royal outfit, is Mkhulu Leo whose grandfather was Mzilikazi‘s last born son. </p>
                        
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="{% static 'img/mzi/mzi_land9.jpeg' %}" alt="">
                    <div class="ministry-content">
                        <h6>One of the Many sites named after Mzilikazi</h6>
                    
                        <p>Tracks of Mzilikazi, whom the Boers corrupted to Zilkaat, can be found in various places. 
                            This near Madikwe River where Mzilikazi once settled, which the locals know as Pitsedisulejang.</p>
                        
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="{%  static 'img/mzi/mzi_memorial2.jpg' %}" alt="">
                    <div class="ministry-content">
                        <h6>Route to Mzilikazi Memorial Site</h6>
               
                        <p>Mzilikazi created what got to be known as the roving kingdom over a twenty-year period, 
                            conquering and subjecting people to his rule as he constantly increased his 
                            force of fighters by making young men to join his army. </p>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Making of the boook in pictures ends ##### -->

  <!-- ##### Sermons Area Start ##### -->
  <section class="sermons-area section-padding-50-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                
                    <h3>More Informtion about the Book</h3>
                    <h4>Book pricing and access...</h4>
                    <p> The retailing price for the book is R400,00 ($23,00) however for all bulk purchases a preferential price shall be afforded. 
                        We are also geared for POD (print on demand) in conjunction with our print partners. 
                    </p>
                    
                
                    <br>
                    <h4>Book formats...</h4>
                    <p>Whereas the book will be released in paperback format,
                        plans are also afoot to have the book published in e-book and audio formats,  as such the ISBN for these formats have been secured already. 
                        We are also considering having a limited edition of the books in hardback. 
                        
                    </p>
                    
                  
                    <br>
                    <h4>Sourcing the book...</h4>
                   <p>
                    Books can either be sourced from Bargain Books; CNA ; 
                    through Takealot or Amazon (Starting date for sales
                    will be announced on all Social Media platforms) or may be sourced 
                    directly from the author. 
                    Simply follow the link and effect payment https://pay.yoco.com/r/4WLGBR  
                    we can also create a full invoice with full amount due and link for payment 
                    if you so wish. Then we will use address provided to deliver your book at your doorstep. 
                    <br> <br>
                    A relationship has been established with Fastway Courier who 
                    will deliver books to any corner of the world at differentiated prices 
                    depending on distance and quantity required. 
                    <br> <br>
                    At different launches and book tours we will be operating strictly 
                    on cashless basis as we will use swipe or tapping facilities.
                    A book tour based on the route Mzilikazi covered is 
                    currently being finalized and will be announced soon on this 
                    platform along with the launch programme.          
                </p> 
                </div>            
            </div>
        </div> 
    </div>
</section>


<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area style-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-text d-flex justify-content-between align-items-center">
                    <h5>Prior to the launch, snippet reviews of the book will be provided</h5>
                    <a href="#" class="btn faith-btn active">Launch date comming soon!</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
  <!-- Single Sermons Area -->
  <div class="single-sermons style-3">
    <div class="sermons-content d-flex align-items-center">
        <!-- Sermons Thumbnail -->
        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/bg-img/mzi-book-bg.png' %});"></div>
        <!-- Sermons Content -->
        <div class="sermons-text">
           
                <h6>Book Target Market</h6>
    
            <p class="text">This book is unique as it straddles a variety of audiences.
                 It is relevant for schools, universities, historians and general public 
                who may have an interest in their recent past history which has been largely presented 
                from European viewpoint exclusively in the past. 
                <br> <br>
                The story in its movements touches different clans, “tribes” and nations and hopefully answers and plugs many gaps 
                that may have been left open in the past.
                <br> <br><br>
                <h6>What to Expect</h6>
                <p class="text">
                There are different activities that are to be carried out to compliment the marketing and publicity of the book. 
                These will include pre-launch activation. Advertising of launch and countdown. 
                National and regional launch dates and venues. 
                    <br><br>
                To keep abreast with all these activities it will be important to continue watching this space.    
                </p>
                
            </div>
                
         
            
            
        </div>
    </div>
</div>

<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area style-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-text d-flex justify-content-between align-items-center">
                    <h5>The pricing of all the different formats will be announced in due course</h5>
                    <a href="{% url 'contacts:contact-us' %}" class="btn faith-btn active">Contact us for any queries</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
  
{% endblock content %}