{% extends "base.html" %}
{% load static %}

{% block title %} | About the Book {% endblock title %}


{% block content %}

<!--? Hero Start -->
<div class="slider-area2" >
    <div class="slider-height2 hero-overly2 d-flex align-items-center" >
        <div class="container" >
            <div class="row" >
                <div class="col-xl-12" >
                    <div class="hero-cap hero-cap2 text-center" >
                        <h2>About the Book - Mzilikazi the Great</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<div class="about-details section-padding30">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-8">
                <div class="about-details-cap mb-50">
                    <h4>Telling the story of ...</h4>
                    <p> <strong>Mzilikazi the Great </strong> is like relating the story of Southern Africa where he moved through, ruled and conquered for fourty seven years.. 
                    </p>
                    <p> Over this period Mzilikazi moved through seven of the nine of today’s South African provinces and passed through nine countries in Sub Sahara before settling in Zimbabwe as the tenth country.</p>
            </div>

            <div class="about-details-cap mb-50">
                <h4>Ascension to throne ... </h4>
                <p>Born in 1790 in Ndinaneni close to the Mkuze valley he was raised in Zwide’s palace as his grandson.  
                    </p>
                    <p> However after Zwide murdered his father for tipping off Shaka against imminent danger he was elevated to the Khumalo throne. From here on he joined Shaka and then later defied him and started his illustrious history</p>
            </div>
            <div class="about-details-cap mb-50">
                <h4>The book journey ...</h4>
                <p>To enhance the story, a total of over a hundred and seventy books were referenced; libraries, museums; heritage sites, historical sites and countries were also made use of. 
                    </p>
                    <p> Various people supported this initiative from initial stage, to the point where editing, typesetting and formatting was done by Madibana Printers  in collaboration with .....</p>
            </div>
            </div>
        </div>
    </div>
</div>
<!--? About Area Start-->
<div class="support-company-area pt-100 pb-100 section-bg fix" data-background="{% static 'assets/img/gallery/section_bg02.jpg' %}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="{% static 'assets/img/about/mzi1.png' %}" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-50">
                        <span>Tracking history of the Great King  </span>
                        <h2>iSilo - iNkosi ya Makhosi </h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">Mhlahlandlela was an important seat of power where Mzilikazi set up his Royal palace after moving from Ntabazinduna where he first arrived in Zimbabwe. It is also important to note that Mhlahlandlela had previously been established during his migratory times when he first settled along the banks of the Enzabuhlungu (Apies) River -
                            where Pretoria was later established.</p>
                        <p class="mb-65">This is one of the few know picture of Isilo (Nkosi ya Makhosi) Mzilikazi ka Matshobane. It is 
                            an artist impression that is also used during the annual celebration in his honour that are carried out in Mhlahlandlela, Bulawayo. 
                        </p>
                        <a href="{% url 'mziweb:mybook' %}" class="btn post-btn">Author's other work -  <i>An Evoulutionary Review of Black Education</i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About Area End-->
  
{% endblock content %}