{% extends "base.html" %}
{% load static %}

{% block title %} | Author
{% endblock title %}

{% block content %}

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/author-bg.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h5>About </h5>
                    <h2>The Author</h2>
                    <p>inspired by reading broadly, researching and establishing what is contested narratives.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->
<!--Author Profile -->
<!--================Blog Area =================-->


<!-- ##### Sermons Area Start ##### -->
<section class="sermons-area section-padding-100-0">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="{% static 'img/core-img/cross.png' %" alt="">
                    <h3>Nthebe Molope</h3>
                    <p>A former teacher who consider himself a life student of African history, a subject which I am so passionate about</p>
                </div>
            </div>
        </div>

        <div class="single-sermons style-3">
            <div class="sermons-content d-flex align-items-center">
                <!-- Sermons Thumbnail -->
                <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/nthebe/nthebe1.jpg' %});"></div>
                <!-- Sermons Content -->
                <div class="sermons-text">
                    <a href="#">
                        <h6>Brief Synopsis</h6>
                    </a>
                    <p></p>
                  
                    <p class="text"> Mzilikazi the Great is my second offering since 
                        I started trying my hand in contributing to knowledge creation. 
                        The maiden book was 
                        <a href="{% url 'mziweb:mybook' %}"> 
                            <strong>An Evolutionary Review of Black Education</strong> 
                        </a> 
                    </p> <br>
                    <p>
                        I am currently working on the third offering which could be ready by first quarter of 2024.
                        I consider these books to be my small contribution to the global teaching world which 
                        I have not totally abandoned since I quit the classroom over thirty one years ago. 
                    </p> <br>
                   
                    <p >My approach in writing is inspired by reading broadly, 
                        researching and establishing what is contested narratives. 
                        I am thus happy that I sustained this principle here and covered all the countries in which Mzilikazi had been as I tracked him. 
                        To give further credence to the story  a platform for weekly debates and a blog will be created where I shall interact with different people on the history of Africa. </p>
                        <p class="text">
                        
                            The production of this book could not have happened or been met with so much 
                            success had it not been for the financial injection that I received from 
                            Sport and Recreation Arts and Culture (SRAC) through the Mzansi Golden Awards initiative. 
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="{% static 'img/core-img/cross.png' %" alt="">
                    <h3>What to expect</h3>
                    <p>There are different activities that are to be carried out to compliment the marketing and publicity of the book. 
                        These will include pre-launch activation. Advertising of launch and countdown. 
                    National and regional launch dates and venues. 
                    To keep abreast with all these activities it will be important to continue watching this space.</p>
                </div>
            </div>
        </div>          
        </div>
    </div>
</section>




<!--================ Blog Area end =================-->
<!-- About Area End-->

{% endblock content %}