{% extends "base.html" %}
{% load static %}

{% block title %} | My Books

{% endblock title %}

{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/zambezi-bg.jpg' %} );">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h5>About  </h5>
                    <h2>Other Books</h2>
                    <p>The author's maiden book  </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Other Books Details end ##### -->
  <section class="sermons-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="img/core-img/cross.png" alt="">
                    <h3>An Evolutionary Review of Black Education</h3>
                    <p>Some insights into the author's maiden book - looking into Africa's historic education system.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 mb-100">
                <!-- Single Sermons Area -->
                <div class="single-sermons style-2">
                    <div class="sermons-content">
                        <!-- Sermons Thumbnail -->
                        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/core-img/maiden_book.jpg' %});"></div>
                        <!-- Sermons Content -->
                        <div class="sermons-text">
                            <a href="#">
                                <h6>Brief background about the maiden book</h6>
                            </a>
                            <p>Launch Date</p>
                            <p class="date">15 November, 2019</p>
                            <p>The book is set out as a celebration of the often-understated achievements and 
                                contributions of the continent to the world. It starts by surveying 
                                the landscape that had numerous structures and artefacts that are abound throughout 
                                the continent that point to some systemic knowledge development that has existed 
                                from time immemorial</p>
                            <p>
                                It further takes point with the global north being ungrateful beneficiaries of contributions made by the continent 
                                by continuously referring to it as backward, dark and illiterate.
                            </p>
                        </div>
                    </div>
                    <!-- Audio Player -->
                
                </div>

          
                
            </div>

            <div class="col-12 col-lg-6 mb-100">
                <!-- Single Sermons Area -->
                <div class="single-sermons">
                    <div class="sermons-content d-flex align-items-center">
                        <!-- Sermons Thumbnail -->
                        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/nthebe/wally.jpg' %});"></div>
                        <!-- Sermons Content -->
                        <div class="sermons-text">
                            <a href="#">
                                <h6>With Dr Wally Serote</h6>
                            </a>
                            <p>A legendary South Africa poet and writer </p>
                            <p class="date">At the book launch: 15 November 2019</p>
                        </div>
                    </div>
                    <!-- Audio Player -->
                    
                </div>

                <!-- Single Sermons Area -->
                <div class="single-sermons">
                    <div class="sermons-content d-flex align-items-center">
                        <!-- Sermons Thumbnail -->
                        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/nthebe/pitika.jpg' %});"></div>
                        <!-- Sermons Content -->
                        <div class="sermons-text">
                            <a href="#">
                                <h6>With Professor Pitika Ntuli</h6>
                            </a>
                            <p>An established and imminent poet, scholar and Professor of African history, folklore and anthropology </p>
                            <p class="date">At the book launch: 15 November 2019</p>
                        </div>
                    </div>
                    
                </div>

                <!-- Single Sermons Area -->
                <div class="single-sermons">
                    <div class="sermons-content d-flex align-items-center">
                        <!-- Sermons Thumbnail -->
                        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/nthebe/stix.jpg' %});"></div>
                        <!-- Sermons Content -->
                        <div class="sermons-text">
                            <a href="#">
                                <h6>With Sipho "Hotstix" Mabuse</h6>
                            </a>
                            <p>An internationally acclaimed musician and song writer</p>
                            <p class="date">At the book launch: 15 November 2019</p>
                        </div>
                    </div>
                    <!-- Audio Player -->
                    
                </div>

                <!-- Single Sermons Area -->
                <div class="single-sermons">
                    <div class="sermons-content d-flex align-items-center">
                        <!-- Sermons Thumbnail -->
                        <div class="sermons-thumbnail bg-img" style="background-image: url({% static 'img/nthebe/zola.jpg' %});"></div>
                        <!-- Sermons Content -->
                        <div class="sermons-text">
                            <a href="#">
                                <h6>With Bonginkosi "Zola" Dlamini</h6>
                            </a>
                            <p>A welknown South African actor and musician</p>
                            <p class="date">At the book launch: 15 November 2019</p>
                        </div>
                        
                    </div>
                    
                </div>

                
                

            </div>
        </div>
         <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="faith-blog-posts">
                        <div class="row">

                            <!-- Single Blog Area -->
                            <div class="col-12 col-lg-12">
                                <div class="single-blog-area mb-100">
                                    <div class="blog-thumbnail">
                                        <img src="{% static 'img/nthebe/nthebe2.jpg' %}" style="width:710px; height:400px;" alt="">
                                        <div class="post-date">
                                            <a href="#">06 February, 2020</a>
                                        </div>
                                    </div>
                                    <div class="blog-content">
                                        <a href="#" class="blog-title">Khaya FM interview</a>
                                        
                                        <div class="sermons-audio-player d-flex align-items-center">
                                            <audio preload="auto" controls>
                                                    <source src="{% static 'audio/powerfm.mp3' %} ">
                                                </audio>
                                            <div class="see-more-btn">
                                                <a href="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="faith-blog-sidebar-area">
                        <div class="blog-widget-area">
                            <h5>Sourcing Channels </h5>
                            <ul>
                                <li><a href="https://www.cna.co.za" target="_blank">CNA</a></li>
                                <li><a href="https://www.bargainbooks.co.za" target="_blank">Bargain Books</a></li>
                                <li><a href="https://www.takealot.com" target="_blank">Takealot</a></li>
                                <li><a href="https://www.amazon.com" target="_blank">Amazon </a></li>
                                <br>
                                <strong class="post-title" style="color:#ac8a74" > Direct payments can be made at </strong> <br> <br>
                                <li><a href="https://pay.yoco.com/r/4WLGBR">https://pay.yoco.com/r/4WLGBR</a></li>
                            </ul>
                        </div>

                        <div class="blog-widget-area">
                            <h5>Comparisons - Past vs Current</h5>
                            <ul>
                                <li><a href="#">Curriculum changes </a></li>
                                <li><a href="#">Teacher/people ratio</a></li>
                                <li><a href="#">Science, Technology, Engineering and Math profile</a></li>
                                <li><a href="#">International ratings</a></li>
                                <li><a href="#">Cost of Education - public vs private schools</a></li>
                            </ul>
                        </div>
                     </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ##### Blog Area End ##### -->
    </div>
</section>

  <!-- Single Sermons Area -->
  <div class="single-sermons style-3">
    <div class="sermons-content d-flex align-items-center">
        <!-- Sermons Thumbnail -->
        <div class="sermons-thumbnail bg-img"> 
        <iframe width="896" height="550" src="https://www.youtube.com/embed/9F1_QG7Do_E" 
            title="An Evolutionary Review on Black Education review" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        </div>
        <!-- Sermons Content -->
        <div class="sermons-text">
            <a href="#">
                <h6>More about the Book</h6>
            </a>
            <p>Indegenous Knowledge System vs Missionary Education</p>
        
            <p class="text">
                The mixed fortunes that came about as a result of Missionary schools, of are then closely assessed, at by considering: <br> <br>

o	Esteemed scholars that emerged from this period <br>
o	Milestones achieved by numerous scholars of the time <br>
o	Notable scholars standing up against and questioning objectives of Missionary education <br>
<br>
The book then progresses to the advent of Bantu Education with associated Christian triumphalism. Looking at its ills, intentions and path of destruction. The options of NGOs contribution are also looked into.
Furthermore the book makes a comparison of the past with the current Education system and its myriad of challenges including
</p>

            <!-- Audio Player -->
            
        </div>
    </div>
</div>

<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area style-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-text d-flex justify-content-between align-items-center">
                    <h5>Interview with eNews Channel Africa (eNCA) - 15 November 2018</h5>
                    <a href="https://pay.yoco.com/r/4WLGBR" class="btn faith-btn active">Get a copy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->



<!-- ##### Other Books Details end ##### -->




{% endblock content %}