{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
   - Contact Us
{% endblock title %}

{% block content %}


    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/contact-banner.jpg' %} );">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-6">
                    <div class="breadcumb-text">
                        <h5>Get in touch</h5>
                        <h2>Contact us</h2>
                        <p>Drop us a message in the form below, or email us directly for any query</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->


    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-info-area">
                        <div class="row">
                            <!-- Contact Information -->
                            <div class="col-12 col-lg-6">
                                <div class="contact-information">
                                    <h5>Contact us</h5>
                                    <!-- Single Contact Area -->
                                    <div class="single-contact-area mb-30">
                                        <p>Address:</p>
                                        <span>50193 RaMolope Village <br>
                                            MORULENG, North West Province <br>
                                            South Africa
                                        </span>
                                        
                                    </div>

                                    <!-- Single Contact Area -->
                                    <div class="single-contact-area mb-30">
                                        <p>Phone:</p>
                                        <span>+27 (0) 76 928 5757</span>
                                    </div>

                                    <!-- Single Contact Area -->
                                    <div class="single-contact-area mb-30">
                                        <p>Email:</p>
                                        <span> <a href="mailto:nthebe@mzilikazithegreat.org">nthebe@mzilikazithegreat.org</a></span>
                                            <p>Send us your query anytime!</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Contact Form Area -->
                            <div class="col-12 col-lg-6">
                                <div class="contact-form-area">
                                    <h5>Send us a message</h5>
                                    <form method="POST" >
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <br>
                                        <button class="btn faith-btn" type="submit">Submit </button>
                                        <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->



<section class="contact-section">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Johannesburg</h3>
                        <p>Gauteng, South Africa</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        
                        
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

  
{% endblock content %}